{
  "swagger": "2.0",
  "info": {
    "title": "GMS移动端APP接口sit"
  },
  "host": "gms-servicesit.gtmc.com.cn:8443",
  "basePath": "/bffServer",
  "tags": [
    {
      "name": "价值商谈",
      "description": "Work Bench Controller"
    },
    {
      "name": "入金接口",
      "description": "Payment Controller"
    },
    {
      "name": "基础设置-车种选项设置管理接口",
      "description": "Vehicle Authority Setting Controller"
    },
    {
      "name": "待办通知提醒接口",
      "description": "Notification Controller"
    },
    {
      "name": "文件上传接口",
      "description": "Upload Controller"
    },
    {
      "name": "登录聚合接口",
      "description": "Login Controller"
    },
    {
      "name": "线上订单聚合接口",
      "description": "Online Car Order Controller"
    },
    {
      "name": "订单基础数据查询",
      "description": "Order Basic Data Controller"
    },
    {
      "name": "订单缓存接口",
      "description": "Order Caching Controller"
    },
    {
      "name": "订单聚合接口",
      "description": "Order Query Controller"
    },
    {
      "name": "问卷聚合接口",
      "description": "Questionnaire Controller"
    }
  ],
  "paths": {
    "/login/UpdateUserResponsibleDlrCdInfo": {
      "post": {
        "tags": [
          "登录聚合接口"
        ],
        "summary": "更新用户负责销售店信息",
        "description": "更新用户负责销售店信息",
        "operationId": "updateUserResponsibleDlrCdInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateUserResponsibleDlrCdInfoReq",
            "description": "更新用户负责销售店信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserResponsibleDlrCdInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "更新用户负责销售店信息"
      }
    },
    "/login/insertOrUpdateLoginIdCardVerifyInfo": {
      "post": {
        "tags": [
          "登录聚合接口"
        ],
        "summary": "身份验证信息插入或更新",
        "description": "身份验证信息插入或更新",
        "operationId": "insertOrUpdateLoginIdCardVerifyInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "insertOrUpdateLoginIdCardVerifyInfoReq",
            "description": "身份验证信息插入或更新入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsertOrUpdateLoginIdCardVerifyInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "身份验证信息插入或更新"
      }
    },
    "/login/queryLoginIdCardVerifyInfo": {
      "post": {
        "tags": [
          "登录聚合接口"
        ],
        "summary": "身份验证信息查询",
        "description": "身份验证信息查询",
        "operationId": "queryLoginIdCardVerifyInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryLoginIdCardVerifyInfoReq",
            "description": "身份验证信息查询入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryLoginIdCardVerifyInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoLoginIdCardVerifyInfoResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "身份验证信息查询"
      }
    },
    "/notification/remindNotifications": {
      "post": {
        "tags": [
          "待办通知提醒接口"
        ],
        "summary": "待办通知提醒",
        "description": "待办通知提醒",
        "operationId": "remindNotificationsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "remindNotificationsReq",
            "description": "待办通知提醒入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemindNotificationsReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单录入"
      }
    },
    "/bff/onlineCarOrder/getVipManageActionCarNumber": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "根据订单编号获取剩余可录台数",
        "description": "根据订单编号获取剩余可录台数",
        "operationId": "getVipManageActionCarNumberUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bo",
            "description": "根据订单编号获取剩余可录台数",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgiGetVipManageActionBo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "根据订单编号获取剩余可录台数"
      }
    },
    "/bff/onlineCarOrder/autoCarDistribution": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "自动配车",
        "description": "自动配车",
        "operationId": "autoCarDistributionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "autoCarDistributionReq",
            "description": "自动配车入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoCarDistributionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "自动配车"
      }
    },
    "/bff/onlineCarOrder/addPaymentInfo": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单入款信息录入",
        "description": "订单入款信息录入",
        "operationId": "addPaymentInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "addPaymentInfoReq",
            "description": "订单入款信息录入入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddPaymentInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单入款信息录入"
      }
    },
    "/bff/onlineCarOrder/cancelOrder": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单取消",
        "description": "订单取消",
        "operationId": "cancelOrderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "cancelOrderReq",
            "description": "订单取消入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOrderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单取消"
      }
    },
    "/bff/onlineCarOrder/addOrderInfo": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单录入",
        "description": "订单录入",
        "operationId": "addOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "addOrderInfoBoReq",
            "description": "订单录入入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOrderInfoBoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoAddOrderInfoResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单录入"
      }
    },
    "/bff/onlineCarOrder/autoCancelOrder": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单自动取消",
        "description": "订单自动取消",
        "operationId": "autoCancelOrderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "autoCancelOrderReq",
            "description": "订单自动取消入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoCancelOrderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoAutoCancelOrderResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单自动取消"
      }
    },
    "/bff/onlineCarOrder/updOrderInfo": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单自动变更申请",
        "description": "订单自动变更申请",
        "operationId": "updOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updOrderInfoReq",
            "description": "订单自动变更申请入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdOrderInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoUpdOrderInfoResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单自动变更申请"
      }
    },
    "/bff/onlineCarOrder/orderResourceInfo": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单购车资源序号",
        "description": "订单购车资源序号",
        "operationId": "orderResourceInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderResourceInfoReq",
            "description": "购车资源序号入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderResourceInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderResourceInfoResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单购车资源序号"
      }
    },
    "/bff/onlineCarOrder/updateOrderStf": {
      "post": {
        "tags": [
          "线上订单聚合接口"
        ],
        "summary": "订单销售顾问变更",
        "description": "订单销售顾问变更",
        "operationId": "updateOrderStfUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateOrderStfReq",
            "description": "订单销售顾问变更入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderStfReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoUpdateOrderStfResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "订单销售顾问变更"
      }
    },
    "/bff/order/basic/paymentMethod": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "付款方式",
        "description": "付款方式",
        "operationId": "paymentMethodUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoPaymentMethodListResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.paymentMethod",
        "name": "付款方式"
      }
    },
    "/bff/order/basic/queryBaseInfoOfFinanceOrg": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "基础_金融机构 ",
        "description": "基础_金融机构 ",
        "operationId": "queryBaseInfoOfFinanceOrgUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoQueryBaseInfoOfFinanceOrgBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.queryBaseInfoOfFinanceOrg",
        "name": "基础_金融机构"
      }
    },
    "/bff/order/basic/getVehicleColorList": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "根据车种Code和版本code查询S外观颜色列表",
        "description": "根据车种Code和版本code查询S外观颜色列表",
        "operationId": "getVehicleColorListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bo",
            "description": "根据车种Code和版本code查询S外观颜色列表",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FriGetVehicleInfoListBo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«Set«FroGetVehicleColorListReturnBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:basic:getVehicleColorList",
        "name": "根据车种Code和版本code查询S外观颜色列表"
      }
    },
    "/bff/order/basic/getVehicleGradeList": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "根据车种Code查询版本列表",
        "description": "根据车种Code查询版本列表",
        "operationId": "getVehicleGradeListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bo",
            "description": "根据车种Code查询版本列表",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FriGetVehicleInfoListBo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«Set«FroGetVehicleSfxListReturnBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:basic:getVehicleSfxList",
        "name": "根据车种Code查询版本列表"
      }
    },
    "/bff/order/basic/getVehicleInsideColorList": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "根据车种code和版本code和外观颜色code查询内饰列表",
        "description": "根据车种code和版本code和外观颜色code查询内饰列表",
        "operationId": "getVehicleInsideColorListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bo",
            "description": "根据车种code和版本code和外观颜色code查询内饰列表",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FriGetVehicleInfoListBo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«Set«FroGetVehicleInsideColorListReturnBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:basic:getVehicleInsideColorList",
        "name": "根据车种code和版本code和外观颜色code查询内饰列表"
      }
    },
    "/bff/order/basic/queryBaseInfoOfApplyState": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索申请状态",
        "description": "检索申请状态",
        "operationId": "getApplyStateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderApplyStateListResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getApplyState",
        "name": "检索申请状态"
      }
    },
    "/bff/order/basic/queryBaseInfoOfApplyType": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索申请类型",
        "description": "检索申请类型",
        "operationId": "getApplyTypeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderApplyTypeListResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getApplyType",
        "name": "检索申请类型"
      }
    },
    "/bff/order/basic/queryBaseInfoOfUnifiedSocialCreditCode": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索统一社会信用代码",
        "description": "检索统一社会信用代码",
        "operationId": "getUnifiedSocialCreditCodeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderUnifiedSocialCreditCodeReq",
            "description": "检索统一社会信用代码",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderUnifiedSocialCreditCodeReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderUnifiedSocialCreditCodeResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getUnifiedSocialCreditCode",
        "name": "检索统一社会信用代码"
      }
    },
    "/bff/order/basic/queryBaseInfoOfSourceInfo": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索订单来源(全部)",
        "description": "检索订单来源(全部)",
        "operationId": "getOrderSourceAllUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderSourceAllListResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getOrderSourceAll",
        "name": "检索订单来源(全部)"
      }
    },
    "/bff/order/basic/queryBaseInfoOfOrderStatus": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索订单状态",
        "description": "检索订单状态",
        "operationId": "getOrderStatusUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderOrderStatusResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getOrderStatus",
        "name": "检索订单状态"
      }
    },
    "/bff/order/basic/queryBaseInfoOfCertType": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索证件类型",
        "description": "检索证件类型",
        "operationId": "getCertUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoCertResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getCert",
        "name": "检索证件类型"
      }
    },
    "/bff/order/basic/queryBaseInfoOfSalesDiff": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索购买类型",
        "description": "检索购买类型",
        "operationId": "listOrderBuyTypesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderBuyTypeResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.listOrderBuyTypes",
        "name": "检索购买类型"
      }
    },
    "/bff/order/basic/queryBaseInfoOfVehicleUse": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索车辆用途",
        "description": "检索车辆用途",
        "operationId": "getVehicleUseUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础-车辆用途»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getVehicleUse",
        "name": "检索车辆用途"
      }
    },
    "/bff/order/basic/queryBaseInfoOfUnsubscriptionReason": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索退订原因",
        "description": "检索退订原因",
        "operationId": "getUnsubscriptionReasonUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "unsubscriptionReasonReq",
            "description": "unsubscriptionReasonReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderUnsubscriptionReasonReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础_退订原因List»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getUnsubscriptionReason",
        "name": "检索退订原因"
      }
    },
    "/bff/order/basic/queryBaseInfoOfDealerCode": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索销售店代码",
        "description": "检索销售店代码",
        "operationId": "getOrderSalesShopCodeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderSalesShopCodeResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getOrderSalesShopCode",
        "name": "检索销售店代码"
      }
    },
    "/bff/order/basic/queryBaseInfoOfSalesConsultant": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "检索销售顾问",
        "description": "检索销售顾问",
        "operationId": "listSalesConsultantUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "listSalesConsultantReq",
            "description": "检索销售顾问",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSalesConsultantReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderConsultantListResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.listSalesConsultant",
        "name": "检索销售顾问"
      }
    },
    "/bff/order/basic/queryBaseInfoOfInsure": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取保险基础信息",
        "description": "获取保险基础信息",
        "operationId": "getInsuranceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础-保险基础信息List»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getInsurance",
        "name": "获取保险基础信息"
      }
    },
    "/bff/order/basic/queryBaseInfoOfOtherBusiness": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取其它基础信息",
        "description": "获取其它基础信息",
        "operationId": "getOtherUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderOtherReq",
            "description": "获取其它基础信息",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础-其它基础信息List»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getOther",
        "name": "获取其它基础信息"
      }
    },
    "/bff/order/basic/queryBaseInfoOfService": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取服务基础信息",
        "description": "获取服务基础信息",
        "operationId": "getServiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderServiceReq",
            "description": "获取服务基础信息",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础-服务基础信息List»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getService",
        "name": "获取服务基础信息"
      }
    },
    "/bff/order/basic/queryBaseInfoOfArea": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取省市区",
        "description": "获取省市区",
        "operationId": "getProvinceCityRegionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderProvinceCityRegionReq",
            "description": "获取省市区入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderProvinceCityRegionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoProvinceCityRegionResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getProvinceCityRegion",
        "name": "获取省市区"
      }
    },
    "/bff/order/basic/queryBaseInfoOfBoutique": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取精品基础信息",
        "description": "获取精品基础信息",
        "operationId": "getBoutiqueUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础-精品基础信息List»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getBoutique",
        "name": "获取精品基础信息"
      }
    },
    "/bff/order/basic/getOrderAccountInfo": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取订单号或申请ID信息",
        "description": "获取订单号或申请ID信息",
        "operationId": "getOrderAccountInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getOrderAccountInfoReq",
            "description": "获取订单号或申请ID信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderAccountInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "获取订单号或申请ID信息"
      }
    },
    "/bff/order/basic/queryBaseInfoOfOrderSource": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取订单来源(其它)基础数据",
        "description": "获取订单来源(其它)基础数据",
        "operationId": "getSourceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderSourceListResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getSource",
        "name": "获取订单来源(其它)基础数据"
      }
    },
    "/bff/order/basic/queryBaseInfoOfPresent": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取赠送基础信息",
        "description": "获取赠送基础信息",
        "operationId": "getPresentationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderPresentationReq",
            "description": "获取赠送基础信息",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«基础-赠送基础信息List»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getPresentation",
        "name": "获取赠送基础信息"
      }
    },
    "/bff/order/basic/queryBaseInfoOfModel": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取车型基础信息",
        "description": "获取车型基础信息",
        "operationId": "getModelUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderVehicleModelReq",
            "description": "获取车型基础信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderVehicleModelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderBuyTypeInnerResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.basic.getModel",
        "name": "获取车型基础信息"
      }
    },
    "/bff/order/basic/getVehicleModelDetail": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取车种详情基础信息",
        "description": "获取车种详情基础信息",
        "operationId": "getVehicleModelDetailUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderVehicleModelDetailReq",
            "description": "获取车种详情基础信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderVehicleModelDetailReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«DmsAgoGetModelColorBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "获取车种详情基础信息"
      }
    },
    "/bff/order/basic/getToken": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "获取鉴权",
        "description": "获取鉴权临时使用",
        "operationId": "getTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "useReq",
            "description": "获取鉴权临时使用",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoUserBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "获取鉴权临时使用"
      }
    },
    "/bff/order/basic/getVipManageAction": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "调用大客户管理系统接口获取立项信息",
        "description": "调用大客户管理系统接口获取立项信息",
        "operationId": "getVipManageActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bo",
            "description": "调用大客户管理系统接口获取立项信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgiGetVipManageActionBo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoGetVipManageActionReturnBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "调用大客户管理系统接口获取立项信息"
      }
    },
    "/bff/order/basic/queryBaseInfoOfSfx": {
      "post": {
        "tags": [
          "订单基础数据查询"
        ],
        "summary": "车型SFX列表查询",
        "description": "车型SFX列表查询",
        "operationId": "queryBaseInfoOfSfxUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryBaseInfoOfSfxReq",
            "description": "车型SFX列表查询",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryBaseInfoOfSfxReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«List«AgoQueryBaseInfoOfSfxReturnBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "车型SFX列表查询"
      }
    },
    "/orderCaching/getSpecialOrderList": {
      "post": {
        "tags": [
          "订单缓存接口"
        ],
        "summary": "特殊订单一览",
        "description": "特殊订单一览",
        "operationId": "getSpecialOrderListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getSpecialOrderListReq",
            "description": "特殊订单一览入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSpecialOrderListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«TableDataInfo«AgoOrderWaitApprovalListBoResult»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.orderCaching.getSpecialOrderList",
        "name": "特殊订单一览"
      }
    },
    "/orderCaching/getCachingOrderInfo": {
      "post": {
        "tags": [
          "订单缓存接口"
        ],
        "summary": "订单明细缓存查询",
        "description": "订单明细缓存查询",
        "operationId": "getCachingOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getOrderCachingInfoReq",
            "description": "订单明细缓存查询入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderCachingInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«GetOrderCachingResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.orderCaching.getCachingOrderInfo",
        "name": "订单明细缓存查询"
      }
    },
    "/orderCaching/listCachingOrderInfo": {
      "post": {
        "tags": [
          "订单缓存接口"
        ],
        "summary": "订单缓存一览",
        "description": "订单缓存一览",
        "operationId": "listCachingOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "listOrderCachingInfoReq",
            "description": "订单缓存一览入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOrderCachingInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«TableDataInfo«OrderCachingResultBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.orderCaching.listCachingOrderInfo",
        "name": "订单缓存一览"
      }
    },
    "/orderCaching/deleteCachingOrderInfo": {
      "post": {
        "tags": [
          "订单缓存接口"
        ],
        "summary": "订单缓存删除",
        "description": "订单缓存删除",
        "operationId": "deleteCachingOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "deleteOrderCachingInfoReq",
            "description": "订单缓存删除入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOrderCachingInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.orderCaching.deleteCachingOrderInfo",
        "name": "订单缓存删除"
      }
    },
    "/orderCaching/saveCachingOrderInfo": {
      "post": {
        "tags": [
          "订单缓存接口"
        ],
        "summary": "订单缓存录入修改",
        "description": "订单缓存录入修改",
        "operationId": "saveCachingOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "saveOrderCachingInfoReq",
            "description": "订单缓存录入修改入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveOrderCachingInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«SaveOrderCachingResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms.orderCaching.saveCachingOrderInfo",
        "name": "订单缓存录入修改"
      }
    },
    "/order/gmsChangeVehicleInfo": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "GMS修改车型信息与日期",
        "description": "GMS修改车型信息与日期",
        "operationId": "gmsChangeVehicleInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "changeVehicleInfoReq",
            "description": "GMS修改车型信息与日期",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeVehicleInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "GMS修改车型信息与日期"
      }
    },
    "/order/invoicingPartyChangeApply": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "bZ-开票方变更申请",
        "description": "bZ-开票方变更申请",
        "operationId": "invoicingPartyChangeApplyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "invoicingPartyChangeApplyReq",
            "description": "bZ-开票方变更申请入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoicingPartyChangeApplyReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:invoicingPartyChangeApply",
        "name": "bZ-开票方变更申请入参"
      }
    },
    "/order/queryInvoiceChangeList": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "bZ-开票方变更申请列表查询（GMStoDMS）",
        "description": "bZ-开票方变更申请列表查询（GMStoDMS）",
        "operationId": "queryInvoiceChangeListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryInvoiceChangeListReq",
            "description": "bZ-开票方变更申请列表查询（GMStoDMS）入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryInvoiceChangeListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«TableDataInfo«AgoDirectToDealApplyListBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "bZ-开票方变更申请列表查询（GMStoDMS）"
      }
    },
    "/order/getHomeInvoiceChangeCount": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "bZ-获取首页开票方变更集计（GMStoDMS）",
        "description": "bZ-获取首页开票方变更集计（GMStoDMS）",
        "operationId": "getHomeInvoiceChangeCountUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getHomeInvoiceChangeCountReq",
            "description": "bZ-获取首页开票方变更集计（GMStoDMS）入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHomeInvoiceChangeCountReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoGetHomeInvoiceChangeCountBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "bZ-获取首页开票方变更集计（GMStoDMS）"
      }
    },
    "/order/dmsToOrderRefund": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "dms订单退订数据同步",
        "description": "dms订单退订数据同步",
        "operationId": "dmsToOrderRefundUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dmsToOrderRefundReq",
            "description": "dms订单退订数据同步入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DmsToOrderRefundReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "dms订单退订数据同步"
      }
    },
    "/order/dmsToChangeModel": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "dms调用车型变更数据同步",
        "description": "dms调用车型变更数据同步",
        "operationId": "dmsToChangeModelUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dmsToChangeModelReq",
            "description": "dms调用车型变更数据同步入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DmsToChangeModelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "dms调用车型变更数据同步"
      }
    },
    "/order/bindOrderToEip": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "eip意向金绑定订单",
        "description": "eip意向金绑定订单",
        "operationId": "bindOrderToEipUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "eipBindIntentionReq",
            "description": "eip意向金绑定订单",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EipBindIntentionReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "批量订单与客户的关联关系更新"
      }
    },
    "/order/queryOrderIntroducer": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "介绍人查询",
        "description": "介绍人查询",
        "operationId": "queryOrderIntroducerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryOrderIntroducerReq",
            "description": "介绍人查询入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryOrderIntroducerReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoQueryOrderIntroducerBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:queryOrderIntroducer",
        "name": "介绍人查询"
      }
    },
    "/order/analysisAddressDetail": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "从详细地址中解析出省市区",
        "description": "从详细地址中解析出省市区",
        "operationId": "analysisAddressDetailUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "analysisAddressDetail",
            "description": "从详细地址中解析出省市区",
            "required": true,
            "schema": {
              "$ref": "#/definitions/analysisAddressDetail"
            }
          },
          {
            "in": "body",
            "name": "analysisAddressDetailReq",
            "description": "analysisAddressDetailReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalysisAddressDetailReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgiAnalysisAddressDetailOutputBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:analysisAddressDetail",
        "name": "从详细地址中解析出省市区"
      }
    },
    "/order/changeResourceReq": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "修改资源信息",
        "description": "修改资源信息",
        "operationId": "changeResourceReqUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "changeResourceReq",
            "description": "修改资源信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeResourceReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:changeResourceReq",
        "name": "修改资源信息"
      }
    },
    "/order/changeVehicleInfoReq": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "修改车型信息与日期",
        "description": "修改车型信息与日期",
        "operationId": "changeVehicleInfoReqUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "changeVehicleInfoReq",
            "description": "修改车型信息与日期",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeVehicleInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:changeVehicleInfoReq",
        "name": "修改车型信息与日期"
      }
    },
    "/order/updateSalesConsultant": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "修改销售顾问",
        "description": "修改销售顾问",
        "operationId": "updateSalesConsultantUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateSalesConsultantReq",
            "description": "修改销售顾问",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSalesConsultantReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:updateSalesConsultant",
        "name": "修改销售顾问"
      }
    },
    "/order/queryDistDeliverDealerList": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "分配交车店列表查询",
        "description": "分配交车店列表查询",
        "operationId": "queryDistDeliverDealerListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "distDeliverDealerReq",
            "description": "分配交车店列表查询入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DistDeliverDealerReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoDistDeliverDealerBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:queryDistDeliverDealerList",
        "name": "分配交车店列表查询"
      }
    },
    "/order/checkCanOperate": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "判断是否在可操作时间范围",
        "description": "判断是否在可操作时间范围",
        "operationId": "checkCanOperateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "checkCanOperateReq",
            "description": "判断是否在可操作时间范围入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckCanOperateReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoCheckCanOperateBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "判断是否在可操作时间范围"
      }
    },
    "/order/getUploadedInvoiceOrderList": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "发票上传订单一览查询",
        "description": "发票上传订单一览查询",
        "operationId": "getUploadedInvoiceOrderListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getUploadedInvoiceOrderListReq",
            "description": "发票上传订单一览查询",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUploadedInvoiceOrderListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«TableDataInfo«AgoGetUploadedInvoiceOrderListBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getUploadedInvoiceOrderList",
        "name": "发票上传订单一览查询"
      }
    },
    "/order/getUploadedInvoiceOrderStat": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "已上传发票订单统计查询",
        "description": "已上传发票订单统计查询",
        "operationId": "getUploadedInvoiceOrderStatUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getUploadedInvoiceOrderStatReq",
            "description": "已上传发票订单统计查询",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUploadedInvoiceOrderStatReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoGetUploadedInvoiceOrderStatBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getUploadedInvoiceOrderStat",
        "name": "已上传发票订单统计查询"
      }
    },
    "/order/getApproveDataTotal": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "待厂家审批数据总和",
        "description": "待厂家审批数据总和",
        "operationId": "getApproveDataTotalUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getApproveDataTotal",
        "name": "待厂家审批数据总和"
      }
    },
    "/order/batchChangeCustomerOrderRelation": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "批量订单与客户的关联关系更新",
        "description": "批量订单与客户的关联关系更新",
        "operationId": "batchChangeCustomerOrderRelationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "batchChangeCustomerOrderRelationReq",
            "description": "批量订单与客户的关联关系更新入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchChangeCustomerOrderRelationReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:batchChangeCustomerOrderRelation",
        "name": "批量订单与客户的关联关系更新"
      }
    },
    "/order/getNotUploadInvoiceOrderCnt": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "未上传发票订单数查询",
        "description": "未上传发票订单数查询",
        "operationId": "getNotUploadInvoiceOrderCntUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getNotUploadInvoiceOrderCntReq",
            "description": "未上传发票订单数查询",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetNotUploadInvoiceOrderCntReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoGetNotUploadInvoiceOrderCntBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getNotUploadInvoiceOrderCnt",
        "name": "未上传发票订单数查询"
      }
    },
    "/order/checkCouponCodes": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "校验优惠券",
        "description": "校验优惠券",
        "operationId": "checkCouponCodesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "checkCouponReq",
            "description": "校验优惠券",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckCouponReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoCheckCouponCodeResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:checkCouponCodes",
        "name": "校验优惠券"
      }
    },
    "/order/addOrderMemo": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "添加订单备注",
        "description": "添加订单备注",
        "operationId": "addOrderMemoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "addOrderMemoReq",
            "description": "添加订单备注入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOrderMemoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:addOrderMemo",
        "name": "添加订单备注"
      }
    },
    "/order/settingCustomOrderSource": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "自定义订单来源”其它“设定",
        "description": "自定义订单来源”其它“设定",
        "operationId": "setOtherOrderSourceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "setOtherOrderSourceReq",
            "description": "自定义订单来源”其它“设定",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetOtherOrderSourceReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:setOtherOrderSource",
        "name": "自定义订单来源”其它“设定"
      }
    },
    "/order/getOrderByCustomer": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "获取关联订单一览",
        "description": "获取关联订单一览",
        "operationId": "getOrderByCustomerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getOrderByCustomerCodeReq",
            "description": "获取关联订单一览入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderByCustomerCodeReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«List«AgoGetOrderByCustomerBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "",
        "name": "获取关联订单一览"
      }
    },
    "/order/countApprovalOrder": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "获取待审批申请总数",
        "description": "获取待审批申请总数",
        "operationId": "countApprovalOrderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoCountApprovalOrderResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:countApprovalOrder",
        "name": "获取待审批申请总数"
      }
    },
    "/order/getOrderChangeDetailInfo": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "获取订单变更退订更多信息",
        "description": "获取订单变更退订更多信息",
        "operationId": "getOrderChangeDetailInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "applyIdReq",
            "description": "获取订单变更退订更多信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyIdReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderChangeDetailInfoResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getOrderChangeDetailInfo",
        "name": "获取订单变更退订审批申请更多信息"
      }
    },
    "/order/updateGenderAndAge": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "补充性别和年龄信息",
        "description": "补充性别和年龄信息",
        "operationId": "updateGenderAndAgeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateGenderAndAgeReq",
            "description": "补充性别和年龄信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateGenderAndAgeReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:updateGenderAndAge",
        "name": "补充性别和年龄信息"
      }
    },
    "/order/changeCustomerOrderRelation": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单与客户的关联关系更新",
        "description": "订单与客户的关联关系更新",
        "operationId": "changeCustomerOrderRelationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "changeCustomerOrderRelationReq",
            "description": "订单与客户的关联关系更新",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeCustomerOrderRelationReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:changeCustomerOrderRelation",
        "name": "订单与客户的关联关系更新"
      }
    },
    "/order/updateCarUser": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单使用人信息修改",
        "description": "订单使用人信息修改",
        "operationId": "updateCarUserUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateCarUser",
            "description": "订单使用人信息修改",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderCarUserReq"
            }
          },
          {
            "in": "body",
            "name": "orderCarUserReq",
            "description": "orderCarUserReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderCarUserReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:updateCarUser",
        "name": "订单使用人信息修改"
      }
    },
    "/order/updateOrderInfo": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单修改",
        "description": "修改订单",
        "operationId": "updateOrderInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateOrderInfoReq",
            "description": "订单修改入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:updateOrderInfo",
        "name": "订单修改"
      }
    },
    "/order/deleteOrder": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单删除",
        "description": "删除订单",
        "operationId": "deleteOrderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "deleteOrderReq",
            "description": "订单删除入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOrderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:deleteOrder",
        "name": "订单删除"
      }
    },
    "/order/applyOrderChange": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单变更申请",
        "description": "提交订单变更申请",
        "operationId": "applyOrderChangeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "applyOrderChangeReq",
            "description": "订单变更申请入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyOrderChangeReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:applyOrderChange",
        "name": "订单变更申请"
      }
    },
    "/order/executeOrderApprove": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单变更退订审批",
        "description": "订单变更退订审批",
        "operationId": "executeOrderApproveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "orderApprovalReq",
            "description": "订单变更退订审批",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderApprovalReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderApprovalResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:executeOrderApprove",
        "name": "订单变更退订审批"
      }
    },
    "/order/getOrderApprovalInitInfo": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单变更退订审批页面初始化",
        "description": "订单变更退订审批页面初始化",
        "operationId": "getOrderApprovalInitInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "applyIdReq",
            "description": "订单变更退订审批页面初始化",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyIdReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoOrderChangeUnsubApplyResultBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getOrderApprovalInitInfo",
        "name": "订单变更退订审批页面初始化"
      }
    },
    "/order/addOrderInfo": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单录入",
        "description": "录入销售订单",
        "operationId": "addOrderInfoUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "addOrderInfoReq",
            "description": "订单录入入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOrderInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«AgoAddOrderInfoBo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:addOrderInfo",
        "name": "订单录入"
      }
    },
    "/order/getOrderLog": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单日志获取",
        "description": "订单日志获取",
        "operationId": "getOrderLogUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getOrderLogReq",
            "description": "订单日志获取入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderLogReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Result«List«AgoGetOrderLogResultBo»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "authority": "gms:order:getOrderLog",
        "name": "订单日志获取"
      }
    },
    "/order/updateOrderServiceBusiness": {
      "post": {
        "tags": [
          "订单聚合接口"
        ],
        "summary": "订单服务（代办上牌服务）业务更新",
        "description": "订单服务（代办上牌服务）业务更新",
        "operationId": "updateOrderServiceBusinessUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateOrderServiceBusinessReq",
            "description": "订单服务（代办上牌服务）业务更新入参",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderServiceBusinessReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
[...]
